/* General */
li#accordion-section-wpst_general_section > h3.accordion-section-title:before {
    content: "\f111";
    font-family: dashicons;
    padding: 3px;
    position: relative;
    top: 2px;
}
/* Site Identity */
li#accordion-section-title_tagline > h3.accordion-section-title:before {
    content: "\f102";
    font-family: dashicons;
    padding: 3px;
    position: relative;
    top: 2px;
    left: -1px;
}
/* Appearance */
li#accordion-section-wpst_appearance_section > h3.accordion-section-title:before {
    content: "\f100";
    font-family: dashicons;
    padding: 3px;
    position: relative;
    top: 2px;
}
/* Advertising */
li#accordion-section-wpst_advertising_section > h3.accordion-section-title:before {
    content: "\f488";
    font-family: dashicons;
    padding: 3px;
    position: relative;
    top: 2px;
}
/* Logo */
li#accordion-section-wpst_logo_section > h3.accordion-section-title:before {
    content: "\f155";
    font-family: dashicons;
    padding: 3px;
    position: relative;
    top: 2px;
}
/* SEO */
li#accordion-panel-kot_seo > h3.accordion-section-title:before {
    content: "\f185";
    font-family: dashicons;
    padding: 3px;
    position: relative;
    top: 2px;
}
/* Copyright */
li#accordion-section-kot_copyright > h3.accordion-section-title:before {
    content: "\f160";
    font-family: dashicons;
    padding: 3px;
    position: relative;
    top: 2px;
}
/* Scripts */
li#accordion-section-kot_scripts_section > h3.accordion-section-title:before {
    content: "\f475";
    font-family: dashicons;
    padding: 3px;
    position: relative;
    top: 2px;
}
/* Menu */
li#accordion-panel-nav_menus > h3.accordion-section-title:before {
    content: "\f349";
    font-family: dashicons;
    padding: 3px;
    position: relative;
    top: 2px;
}
/* Menu */
li#accordion-panel-widgets > h3.accordion-section-title:before {
    content: "\f164";
    font-family: dashicons;
    padding: 3px;
    position: relative;
    top: 2px;
}
/* Additional CSS */
li#accordion-section-custom_css > h3.accordion-section-title:before {
    content: "\f540";
    font-family: dashicons;
    padding: 3px;
    position: relative;
    top: 2px;
}